<div class="mt-14 self-end text-[#F5F3F4]/70">
  <div class="text-justify">
    <p class="mt-1">
      Hi there! My name is Daan. I'm a software engineer with over half a decade
      of experience and the team lead at Infowijs. My passion for building
      products is driven by my desire to make a small difference in the world.
      At Infowijs, we're helping <span
        class="italic font-semibold text-[#F5F3F4]">over 200 schools</span
      > communicate more easily with their students and parents.
    </p>
    <p class="mt-2">
      With my background in <span class="italic font-semibold text-[#F5F3F4]"
        >game design and development</span
      >, I quickly learned how crucial it is to involve users in the process of
      building products and features. I thoroughly enjoy working on projects
      that center around the user. Over the years, I have developed a broad
      skill set that ranges from building augmented and virtual reality
      applications in Unity, developing Android (TV) applications, to full-stack
      web applications in various languages and frameworks. I pride myself on
      being able to <span class="italic font-semibold text-[#F5F3F4]"
        >quickly adapt to new tools</span
      > and make them my own.
    </p>
    <p class="mt-2">
      When I'm not programming, I enjoy gardening and spending time with my two
      cats and fiancée watching TV shows. You may also find me playing grand
      strategy games like Europa Universalis IV or auto-chess battlers like Team
      Fight Tactics.
    </p>
  </div>
</div>
