---
import ExperienceItem from "./experienceItem.astro";
---

<div class="self-end text-[#F5F3F4]/70 pb-16 flex flex-col gap-y-8 md:gap-y-12 mt-2">
  <ExperienceItem
    employer="Infowijs"
    tenure="2023-Present"
    description="Working on developing and maintaining the Hoy/Infowijs platform. Here I am working as a full stack developer, but have a focus on frontend development for our web clients and mobile apps. The platform has more than 250k users and is still growing fast. We're in the middle of a migration from PHP to Vert.X. As a team lead I'm also responsible to help our engineering team grow and maintain a healthy work culture."
    roles={[
      {
        title: "Team Lead",
        tenure: "2024-Present",
      },
      {
        title: "Software Engineer",
        tenure: "2023-Present",
      },
    ]}
    products={[
      {
        title: "Hoy",
        description:
          "Hoy is a communication tool for high schools in The Netherlands. I am doing full stack development on the platform, but mostly enjoy frontend development.",
        technologies: [
          "React",
          "React Native",
          "Typescript",
          "PHP",
          "PostgreSQL",
          "MongoDB",
        ],
      },
      {
        title: "Brugger",
        description:
          "Brugger is Infowijs' newest product that digitalizes the application procedure for children applying for a highschool.",
        technologies: ["React", "Postgresql", "Node.js"],
      },
    ]}
  />
  <ExperienceItem
    employer="Mediaan Conclusion (Mediaan)"
    tenure="2018-2023"
    description="At Mediaan I started working as an intern on an application for the Microsoft HoloLens. After graduating I started working as a software engineer working on various projects for various clients. Eventually I became a team lead where I was responsible for the growth of five other developers, as well as their end-of-year reviews."
    roles={[
      {
        title: "Team Lead",
        tenure: "2022-2023",
      },
      {
        title: "Internship Supervisor",
        tenure: "2021-2023",
      },
      {
        title: "Software Engineer",
        tenure: "2019-2023",
      },
      {
        title: "Intern",
        tenure: "2018-2019",
      },
    ]}
    products={[
      {
        title: "Deutsche Telekom",
        description:
          "Worked on the development of an Android and Android TV video calling application for a bespoke hardware device for Deutsche Telekom. Also responsible for a KMM library shared with the iOS development team.",
        technologies: ["Kotlin", "KMM", "Android", "Android TV", "Frozen Mountain"],
      },
      {
        title: "Scala",
        description:
          "Migrating wordpress websites to Vue.JS using contentful. The system distributed content between 18 websites with more than half a million page views per month combined.",
        technologies: ["Vue.JS", "CMS", "Contentful", "Wordpress"],
      },
    ]}
  />
</div>
