---
import ProjectItem from "./projectItem.astro";
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
console.log(projects);
---

<div class="self-end text-[#F5F3F4]/70 flex flex-col gap-y-8 mt-4">
  {projects.map((project) => (
    <ProjectItem {...project.data} />
  ))}
</div>
