---
import "@fontsource-variable/inter";
import "@fontsource/anton";
import "@fontsource-variable/fira-code";
import Globe from "../assets/globe.svg";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Daan Gunnink | Team Lead and Software Engineer</title>
  </head>
  <body>
    <div class="absolute w-full h-full overflow-y-clip pt-48">
      <Globe class="absolute" opacity={0.4} />
    </div>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-family: "Fira Code Variable", monospace;
    background-image: 
      radial-gradient(
        circle at 0% 68%,
        rgba(47, 47, 47, 0.04) 0%,
        rgba(47, 47, 47, 0.04) 50%,
        rgba(30, 30, 30, 0.04) 50%,
        rgba(30, 30, 30, 0.04) 100%
      ),
      radial-gradient(
        circle at 96% 42%,
        rgba(88, 88, 88, 0.04) 0%,
        rgba(88, 88, 88, 0.04) 50%,
        rgba(225, 225, 225, 0.04) 50%,
        rgba(225, 225, 225, 0.04) 100%
      ),
      linear-gradient(172deg, rgb(22, 26, 29), rgb(11, 9, 10));
  }
</style>
